
.aj1{
    font-size: 20px;
    color: aquamarine;
    font-weight: bold;
    font-famaily: 'Arial', sans-serif;
}

li[draggable="true"] {
    font-size: 16px;
    color: blue;

}

title {
    font-size: 24px;
    color: darkblue;
    font-weight: bold;
    font-family: 'Verdana', sans-serif;
    text-align: center;
}