
.lista-papuci {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self:flex-start;
  gap: 20px;
  padding: 20px;
}

.shoe-item {
    box-sizing: border-box;
    padding-left: 10px;
    width: 350px;
    height: 400px;
    border-radius: 30%;
    padding-top: 22px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
   

   

}

.imagine {
    width: 300px;
    height: 250px;
    border-radius: 30%;
   
    
  
}

.price {
    font-size: 20px;
    color: #ED02ED;
    font-weight: bold;
    font-family: 'Fugaz One', sans-serif;
    margin-top: 10px;
}

.buton-explorare{

    box-sizing: border-box;
    width: 120px;
    height: 40px;
    font-size: 15px;
    border-radius: 20% ;
    font-weight: bold;
    font-family: 'Fugaz One', sans-serif;
    color: white;
    background-color: #ED02ED;
    text-decoration: none;
    text-align: center;
     display: flex; /* Adaugă Flexbox */
    justify-content: center; /* Centrează pe axa orizontală */
    align-items: center; /* Centrează pe axa verticală */
 
 
    
    

   &:hover {
       background-color: #D5006D;
   }
}

















































.fugaz-one-regular {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.volkhov-regular {
  font-family: "Volkhov", serif;
  font-weight: 400;
  font-style: normal;
}

.volkhov-bold {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-style: normal;
}

.volkhov-regular-italic {
  font-family: "Volkhov", serif;
  font-weight: 400;
  font-style: italic;
}

.volkhov-bold-italic {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-style: italic;
}




























