title{
    font-size: 24px;
    color: black;
    font-weight: bold;
    font-family: 'Fugaz One', sans-serif;
    text-align: center;
}

body {
    font-family: 'Fugaz One', sans-serif;

  background: #f2f2f2;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;

  
}

.continut{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 34px;
    color: black;
    font-weight: bold;
    font-family: 'Volkhov','Fugaz One', sans-serif;
    text-align: center;
}

.main-image {
  text-align: center;
}

.main-image img {
  width: 350px;
  height: auto;
  max-height: 300px;
  border-radius: 8px;
  transition: 0.3s ease;
}


.thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.thumbnails img {
  width: 70px;
  width: 80px;
  height: 60px;
  border: 2px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.2s, border 0.2s;
}

.thumbnails img:hover {
  transform: scale(1.05);
  border-color: #000;


}

#price {
    font-size: 22px;
    color: black;
    font-weight: normal;
    font-family: 'Fugaz One', sans-serif;
    margin-top: 10px;
    
}

.buy-button {
    margin-top: 0px;
   
    padding: 14px 15px;
    font-family: 'Fugaz One', sans-serif;
    font-size: 25px;
    font-weight: normal;
    color: white;
    background-color: #ED02ED;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width: 260px;
    height: 37px;
    display: inline-block;
    text-align: center;
    line-height: 40px;

  
}

.buy-button:hover {
    background-color: #ff99cc;
}

@media (max-width: 768px)
{
  .buy-button {
      max-width: 50%;
      max-height: 50%;
      
     
      height: 30px;
      font-size: 21px;
      font-size-adjust: 10px;
      text-align: center;
      line-height: 35px;
      display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

  }

  img{
    max-width: 60%;
    max-height: 60%;
  }

  .samba{
     max-width: 60%;
    max-height: 60%;
  }

}









































.fugaz-one-regular {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.volkhov-regular {
  font-family: "Volkhov", serif;
  font-weight: 400;
  font-style: normal;
}

.volkhov-bold {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-style: normal;
}

.volkhov-regular-italic {
  font-family: "Volkhov", serif;
  font-weight: 400;
  font-style: italic;
}

.volkhov-bold-italic {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-style: italic;
}
