
.lista-papuci {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self:flex-start;
  gap: 20px;
  padding: 20px;
}

.shoe-item {
    box-sizing: border-box;
    padding-left: 10px;
    width: 350px;
    height: 400px;
    border-radius: 30%;
    padding-top: 22px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
   

   

}

.continut{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imagine {
    width: 300px;
    height: 250px;
    border-radius: 30%;
   
    
  
}

.buton-explorare{

    box-sizing: border-box;
    width: 120px;
    height: 40px;
    font-size: 15px;
    border-radius: 20% ;
    font-weight: bold;
    font-family: 'Fugaz One', sans-serif;
    color: white;
    background-color: #ED02ED;
    text-decoration: none;
    text-align: center;
     display: flex; /* Adaugă Flexbox */
    justify-content: center; /* Centrează pe axa orizontală */
    align-items: center; /* Centrează pe axa verticală */
 
 
    
    

   &:hover {
       background-color: #D5006D;
   }
     .shoe-description
     {
        font-size: 10px;
    }
}
@media (max-width: 768px) {

.lista-papuci {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.continut{
  display:flex;
  flex-direction: column;
  justify-content: center;
 
  align-items: center;
}

.shoe-item {
    box-sizing: border-box;
    padding-left: 10px;
    width: 150px;
    height: 185px;
    border-radius: 30%;
    padding-top: 2px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
   

   

}

.imagine {
  margin-top: 10px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 30%;
    padding-right: 7px;
   
    
  
}
.shoe-description
     {
     margin-top: 5px;
        font-size: 12px;
    }
.buton-explorare {
       margin-top:10px ;
        width: 70px;
        height: 20px;
        font-size: 9px;
        text-align: center;
        
        padding-right: px;
      
    }
    .buton-explorare:hover {
    background-color: #ff99cc;
}
   
}
















































.fugaz-one-regular {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.volkhov-regular {
  font-family: "Volkhov", serif;
  font-weight: 400;
  font-style: normal;
}

.volkhov-bold {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-style: normal;
}

.volkhov-regular-italic {
  font-family: "Volkhov", serif;
  font-weight: 400;
  font-style: italic;
}

.volkhov-bold-italic {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-style: italic;
}




























