/* Reset simplu */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Volkhov', serif;
    background-color: whitesmoke;
    margin: 20px;
    line-height: 1.6;
}

header {
    background-color: whitesmoke;
    padding: 20px;
    text-align: center;
}

.title {
    font-size: 24px;
    color: darkblue;
    font-weight: bold;
    font-family: 'Verdana', sans-serif;
    text-align: center;
}

h1 {
    color: #F3C623;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Fugaz One', sans-serif;
    text-align: left;
}

h1 .highlight {
    background-color: #24EDCE;
    padding: 8px 20px;
    border-radius: 50px;
    font-weight: bold;
}

.Whatsapp {
    font-size: 10px;
    color: greenyellow;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    text-align: left;
    padding-top: 20px;
}

.description {
    padding-top: 60px;
    font-size: 35px;
    color: black;
    font-weight: bold;
    font-family: 'Volkhov', sans-serif;
    text-align: left;
    padding-bottom: 100px;
}

img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 30%;
    float: left;
    margin-right: 20px;
}

.buy-button {
    margin-top: 0;
    margin-bottom: 100px;
    padding: 14px 15px;
    font-family: 'Fugaz One', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #ED02ED;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width: 260px;
    height: 37px;
    display: inline-block;
    text-align: center;
    line-height: 13px;
}

.buy-button:hover {
    background-color: #ff99cc;
}

.shoe-description {
    font-size: 20px;
    color: black;
    font-weight: bold;
    font-family: 'Volkhov', serif;
    text-align: left;
}

.shoe-price {
    font-size: 25px;
    color: black;
    font-weight: lighter;
    font-family: 'Volkhov', serif;
    text-align: left;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    margin-bottom: 40px;
    justify-content: space-around;
    align-items: stretch;
}

.container2 {
   display: flex;
   flex-direction: row;
   gap : 20px;
   align-items: flex-start;
   justify-content: space-around;
    align-items: stretch;
}

@media (max-width: 768px) {


    h1 {
        font-size: 32px; /* Mai mic pe mobil */
        text-align: center;
        
    }
    h1 .highlight {
    background-color: #24EDCE;
    padding: 8px 20px;
    border-radius: 30px;
    font-weight: bold;
    max-width: 50%;
    max-height: 50%;
}
    .description {
      padding-top: 50px;
        font-size: 24px;
        text-align: center;
        padding-bottom: 40px;
    }

    .shoe-description,
    .shoe-price {
        font-size: 20px;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    img {
        float: none;
        margin: 0 auto 10px auto;
        display: block;
    }

    .buy-button {
        width: 90%;
        width: 270px;
        height: 50px;
        font-size: 19px;
        text-align: center;
        line-height: 24px;
      
    }
    .buy-button:hover {
    background-color: #ff99cc;
}

@media (max-width: 500px) {


    h1 {
        font-size: 18px; /* Mai mic pe mobil */
        text-align: center;
        
    }
        h1 .highlight {
    background-color: #24EDCE;
    padding: 8px 20px;
    border-radius: 30px;
    font-weight: bold;
    max-width: 70%;
    max-height: 70%;
}

    .description {
      padding-top: 50px;
        font-size: 14px;
        text-align: center;
        padding-bottom: 20px;
    }

    .shoe-description,
    .shoe-price {
        font-size: 10px;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    img {
        float: none;
        margin: 0 auto 10px auto;
        display: block;
        max-width: 50%;
        max-height: 50%;
    }

    .buy-button {
        width: 50%;
        max-width: 100px;
        max-height: 35px;
        font-size: 9px;
        text-align: center;
        line-height: 10px;
      
    }
    .buy-button:hover {
    background-color: #ff99cc;
}
}


}